<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>find_password</title>
</head>
<body>
    {=if $allowResetPassword=}
    <form action="{=createUrl controller='user' action='reset_password'=}" method="post">
        email: {=$user.email=}<br/>
        new password:<input type="text"  name="password"  /> <br/>
        new password2:<input type="text"  name="password_repeat"  /> <br/>
        code :<input type="text"  name="code" value="{=$code=}" /> <br/>

        <input type="submit"  value="提交" />
    </form>

    {=/if=}
	
</body>
</html>
