
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>find_password</title>
</head>
<body>
    <form action="{=createUrl controller='user' action='reset_password_manually'=}" method="post">
        email: {=$curUser.email=}<br/>
        old password:<input type="text"  name="old_password"  /> <br/>
        new password:<input type="text"  name="password"  /> <br/>
        new password2:<input type="text"  name="password_repeat"  /> <br/>
        <input type="submit"  value="提交" />
    </form>
</body>
</html>


