<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>www T-Shirt</title>
    <link rel="stylesheet" type="text/css" href="./t_index.css">
</head>
<body>
<div id="header">
    <span>FREE SHIPPING OVER $200 FOR SELECTED COUNTRIES</span>
</div>
<div id="top">
    <div id="top_wrap">
        <div id="top_logo">
            <a href="#"><img src="http://file.stylenandaen.com/web/design5/top_logo_xmas_en.jpg" alt="img"></a>
        </div>
        <div id="language">
            <a href="#">CN</a>
            <a href="#">EN</a>
            <a href="#">JP</a>
        </div>
        <div id="top_menu1">
            <a href="#">Login</a>
            <a href="#">Join</a>
            <a href="#">Chart</a>
            <a href="#">My page</a>
        </div>
    </div>
    <div id="hr1"></div>
    <div id="catalog">
        <a href="#">MADE</a>
        <a href="#">COSMETIC</a>
        <a href="#">SUMMER</a>
        <a href="#">TOP</a>
        <a href="#">OUT</a>
        <a href="#">DRESS</a>
        <a href="#">BOTTOM</a>
        <a href="#">BRANDS</a>
        <a href="#">SHOES</a>
        <a href="#">BAG&ACC</a>
        <a href="#">LIVING</a>
        <a href="#">PRESS</a>
        <a href="#">STORE</a>
    </div>
</div>
<div id="container1">
    <div id="container1_left">
        <a href="#"><img src="http://www.stylenanda.com/web/design5/2014_nandamade.jpg" alt="img" title="290x260"></a>
        <a href="#">Celebrity</a>
        <a href="#"><img src="http://file2.stylenanda.com/web/star/main_celeb.jpg" alt="img" title="290x120"></a>
        <a href="#">Celebrity</a>
        <a href="#"><img src="http://stylenanda.cafe24.com/web/design5/2014_nandabasic.jpg" alt="img" title="290x260"></a>
    </div>
    <div id="container1_center">
        <a href="#"><img src="http://stylenanda.cafe24.com/web/upload/20140616_m1.jpg" alt="img" title="600x740"></a>
    </div>
    <div id="container1_right">
        <a href="#"><img src="http://www.stylenanda.com/web/design5/2014_nandamade.jpg" alt="img" title="290x260"></a>
        <a href="#">Celebrity</a>
        <a href="#"><img src="http://file2.stylenanda.com/web/star/main_celeb.jpg" alt="img" title="290x120"></a>
        <a href="#">Celebrity</a>
        <a href="#"><img src="http://stylenanda.cafe24.com/web/design5/2014_nandabasic.jpg" alt="img" title="290x260"></a>
    </div>
</div>
<div id="container2">
    <a href="#">Q&A</a>
    <span>|</span>
    <a href="#">Review</a>
    <span>|</span>
    <a href="#">Nanda TV</a>
    <span>|</span>
    <a href="#">Personal Payment</a>
    <span>|</span>
    <a href="#">International Shipping</a>
    <span>|</span>
    <a href="#">Wholesale</a>
    <span>|</span>
    <a href="#">Wallpaper</a>
    <span>|</span>
    <a href="#">Nanda blog</a>
</div>
<section id="main_best_roll">
<div id="lista1" class="alscontainer">
    <div class="lista1_t">
        <img src="http://en.stylenanda.com//web/design5/main_best_t.jpg">
    </div>
</div>
</section>
<div id="footer">
    <div id="go_top">
        <a href="#"><img src="http://file.stylenandaen.com/web/design5/bottom_gotop.jpg"></a>
    </div>
    <div id="bottom_line">
        <div class="hr_b"></div>
    </div>
    <div id="re-footer">
        <div class="foot-content">
            <div class="support">
                <h4><span>CUSTOMER SUPPORT</span></h4>
                <p>CALL TOLL-FREE：<span>400-100-8888</span></p>
                <p>Our customer representative are available:</p>
                <p>MON-FRI 9am to 6am (Beijing Standard Time)</p>
                <p>SUN-FRI 4pm to 1am (Beijing Standard Time)</p>
                <p>Excluding lunch break 12pm-1pm/7pm-8pm</p>
                <a href="#">sunny@bunengzhai.com</a>
            </div>
            <div class="payment">
                <h4><span>PAYMENT INFO</span></h4>
                <p>WE ACCEPT THE FOLLOWING FORMS OF PAYMENT</p>
                <p>1.CREDIT/DEBIT CARD PAYMENT</p>
                <p>2.ALIPAY PAYMENT</p>
                <div class="shipping">
                    <h4><span>SHIPPING</span></h4>
                    <p>Return Address:Gyeyang Post Office No.1117,<br/>
                    Gyesan 4-dong, Gyeyang-gu, Incheon, Korea</p>
                    <a href="#">EMS & Track Your Order</a>
                </div>
            </div>
            <div class="more">
                <h4><span>MORE</span></h4>
                <ul>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="#">International Shipping</a></li>
                    <li><a href="#">Wallpaper</a></li>
                    <li><a href="#">NANDA Blog / 3CE Blog</a></li>
                    <li><a href="#">Magazine</a></li>
                    <li><a href="#">Celebrity</a></li>
                    <li><a href="#">News</a></li>
                </ul>
            </div>
            <div class="follow">
                <h4><span>FOLLOW US ON</span></h4>
                <a href="#">3W T-shirt</a>
            </div>
        </div>
        <div class="foot-content">
            <div class="notification">
                <h4><span>Notification</span></h4>
                <div class="nav">
                    <a href="#">Home</a>
                    <span>|</span>
                    <a href="#">Company Info</a>
                    <span>|</span>
                    <a href="#">User Agreement</a>
                    <span>|</span>
                    <a href="#">User Guide</a>
                    <span>|</span>
                    <a href="#">Privacy Policy</a>
                    <span>|</span>
                    <a href="#">Collaboration</a>
                </div>
            </div>
            <div class="outlink">
                <ul>
                    <li><img src="http://file.stylenandaen.com/web/design5/bottom_banner01.jpg"></li>
                    <li><img src="http://file.stylenandaen.com/web/design5/bottom_banner02.jpg"></li>
                    <li><img src="http://file.stylenandaen.com/web/design5/bottom_banner03.jpg"></li>
                </ul>
            </div>
            <div class="copyright">
                <p>NANDA,Inc / CEO: Sohee Kim / Personal Information Management Oh<br/>
                   Business Register No.130-86-090909
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>